[user]
	name = Dan Conley
	email = dconley@acvauctions.com
[alias]
	co = checkout
	c = commit
	a = add
	st = status
	p = push
	l = log
	d = diff
	b = branch
	sw = switch
	r = restore
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = false
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	dark = true
	true-color = always
[merge]
	conflictStyle = zdiff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
