[user]
	name = Dan Conley
	email = dconley@protonmail.com
[alias]
	co = checkout
	c = commit
	a = add
	st = status
	p = push
	l = log
	d = diff
	b = branch
[url "git@github.com:"]
	insteadOf = https://github.com/
